@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap");

.description{
font-size: large;
}
.card-bottom-part {
  width: 100%;
  height: 30%;
  display: flex;
  border: 1px solid rgb(231, 227, 227);
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
}

.card {
  width: 500px;
  height: auto;
  background: rgb(49, 49, 49);
  transition: 0.2s linear;
  box-shadow: 1px 1px 10px lightslategray;
  cursor: default;
color: white;
}
.card-top-part {
  width: 100%;
  height: 70%;
  padding: 15px;
  display: flex;
}

.left-part {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.name {
  font-size: 24px;
}

.text1 ,.text2 {
font-size: 35px;
   font-weight: 800;
  font-family: auto;
padding:15px
}
.text-h5 {
  font-family: "Kanit", sans-serif;
  font-size: 3.75;
  font-weight: 300;
  line-height: 3.75rem;
  letter-spacing: -0.00833em;
}
.text-h6 {
  font-size: 3.75;
  font-weight: 400;
  line-height: 3rem;
  letter-spacing: -0.00833em;
}
